head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css')
        link(rel='stylesheet', href='sidenav.css', type='text/css')

nav
        div.nav-wrapper.kenzie-darkblue
                img(src="https://static1.squarespace.com/static/5992c2c7a803bb8283297efe/t/59c803110abd04d34ca9a1f0/1525725154231/").logo
                a(href="/", class="brand-logo center") Kenziegram
                a(href="#", data-target="mobile-demo", class="sidenav-trigger") <i class="material-icons">menu</i>
                ul.right.hide-on-med-and-down
                        
                        li
                                a(href="/") home
                        li
                                a(href="/photos") photos
                        li
                                a(href="/post") post
                        li
                                a(href="/chat") chat    
ul#mobile-demo.sidenav
        li
                a(href="/") home
        li
                a(href="/post") post
        li
                a(href="/chat") chat
        li
                a(href="/register") register

