doctype
html
  include includes/header.pug
    title KenzieChat
    link(rel='stylesheet', href='style.css', type='text/css')
  body
    header
        h1 KenzieGram Chat
    #messageWrapper   
        #from
        #messageDiv
    script(src='main.js')