doctype
html
  include includes/header.pug
    title KenzieChat
main
    body
        br
        div.container.card-size
            div.card
                div.container
                    div.chatbox
                        div#messageslist.chatlogs
                            
                        div.chat-form
                            textarea#textArea
                            button#send.btn.grey.center-align(type='submit') send
                        br
                            
        br
        script(src='chat.js')
footer
    include includes/footer.pug
                





//-   body
//-     header
//-         h1 KenzieGram Chat
//-     #messageWrapper   
//-         #from
//-         #messageDiv
//-     script(src='main.js')
   