doctype
html
  head
    title= title
    link(rel='stylesheet', href='style.css', type='text/css')
  body
    header
        h1 KenzieGram
    div(id='message')
    h3 Photo Uploaded!
    a(href='/') Back
    div(id='imagecontainer')
      img(src='uploads/'+imagename)