doctype
html
  head
    title= title
    link(rel='stylesheet', href='style.css', type='text/css')
  body
    header
        h1 KenzieGram
    div(id="message")
    form(method='post' action='/upload' onsubmit='return validateForm()' enctype='multipart/form-data')
        div
            label(for='file') Choose a File:&nbsp&nbsp
            input(type='file' id='file' name='myFile')
            button(id='uploadBtn') Upload
    div(id='imagecontainer')
        each image in arrayofimages
                div
                    img(src='uploads/'+image)
    script(src='main.js')
