doctype
html
  include includes/header.pug
    title= title
    //- link(rel='stylesheet', href='style.css', type='text/css')
  body
    header
        h1 KenzieGram
    div(id="message")
    #chatDiv
         button.btn.orange(onclick="window.location.href='http://localhost:3000/chat'") Check Chat Messages
    form(method='post' action='/upload' onsubmit='return validateForm()' enctype='multipart/form-data')
        div
            label(for='file') Choose a File:&nbsp&nbsp
            input(type='file' id='file' name='myFile')
            button.btn.orange(onclick="window.location.href='http://localhost:3000/post'") Make New Post
    div(id='imagecontainer')
        each image in arrayofimages
            div
                img(src='uploads/'+image)
    script(src='main.js')
