doctype
html
    include includes/header.pug
    main
        body
            div.container
                h1.center.black-text Make a Post
                
                p= typeof msg != 'undefined' ? msg : ''

                
                form(method='POST' action='/upload' enctype="multipart/form-data")
                    div.form-group
                        label(for='caption') Caption:
                        input#caption.form-control(type='text', placeholder='Oh my gosh, what to say?', name='caption' )
                

                    div.file-field.input-field
                        div.btn.kenzie-lightblue
                            span Upload Photo!
                            input(type="file" accept="image/*" name="myFile" id=file-input)
                        div.file-path-wrapper
                            input.form-control(class="file-path validate", type="text")
                        
                    
                    button.btn.btn-primary.kenzie-lightblue.center(type='submit') Create Post
                    
                br
                input(class="btn", type="button", value="Go back", onclick="history.back()").grey
                    
                input(class="btn", type="button", value="home", onclick="window.location.href='http://localhost:3000'").grey
                div(id="images")
                br
                br

    footer

        include includes/footer.pug

