doctype
html
    include includes/header.pug
    body
        div(class='container')
            h1 Sign up here!
            
            p= typeof msg != 'undefined' ? msg : ''
             
            form(method='POST' action='/createProfile')
                div.form-group
                    label(for='name') Name:
                    input#name.form-control(type='text', placeholder='username' name='name' require)
                //- div.form-group
                //-     label(for='email') Email:
                //-     input#email.form-control(type='email', placeholder='name@email.com' name='email' require)
                div.file-field.input-field
                    div.btn
                        span Upload Profile Picture:
                        input(type="file", name="profilePic")
                    div.file-path-wrapper
                        input.form-control(class="file-path validate", type="text")
                     
                 
                button.btn.btn-primary(type='submit') Create Profile
                 
            br
            input(class="btn", type="button", value="Go back!", onclick="history.back()")
                 
            input(class="btn", type="button", value="home", onclick="window.location.href='/'")
            div(id="images")
             
        script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js")
            script(src="index.js")
