.parallax-container-height {
    height: 300px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

@media only screen and (min-width: 876px) {
.chatlogs {
    padding: 10px;
    width: 850px;
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
}}

@media only screen and (min-width: 601px) and (max-width: 875px){
    .chatlogs {
        padding: 10px;
        width: 575px;
        height: 500px;
        overflow-x: hidden;
        overflow-y: scroll;
}}

@media only screen and (max-width: 600px) {
    .chatlogs {
        padding: 10px;
        width: 100%;
        height: 350px;
        overflow-x: hidden;
        overflow-y: scroll;
}}

.chatlogs::-webkit-scrollbar {
    width: 8px;
}

.chatlogs::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, .1)
}

.chat {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
}

.chat .user-photo {
    width: 60px;
    height: 60px;
    background: #ccc;
    border-radius: 50%;
    overflow: hidden;
}

.chat .user-photo img {
    width: 100%;
}

.chat .chat-message {
    width: 70%;
    padding: 15px;
    margin: 5px 10px 0;
    background: #1ddced;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
}

.friend .chat-message {
    background: #1adda4;
}

.self .chat-message {
    background: #1ddced;
    order: -1;
}

.chat-form {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}

.chat-form textarea {
    background: #fbfbfb;
    width: 75%;
    height: 50px;
    border: 2px solid rgb(0, 0, 0, .25);
    border-radius: 3px;
    resize: none;
    padding: 10px;
    font-size: 18px;
    /* color: #333; */
}

.chat-form textarea:focus {
    background: #fff;
}

.chat-form textarea::-webkit-scrollbar {
    width: 8px;
}

.chat-form textarea::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, .1)
}

.chat-form button {
    background: #1ddced;
    height: 50px;
    padding: 10px 15px;
    font-size: 30px;
    color: #fff;
    border: none;
    margin: 0 10px;
    border-radius: 3px;
    /* box-shadow: 0 3px #0eb2c1; */
    cursor: pointer;
    -webkit-transition: background .2s ease;
    -moz-transition: background .2s ease;
    -o-transition: background .2s ease;
}
.card{ 
    border: 1px solid rgb(0, 0, 0, .25);
}

.card-size {
    display: flex;
    align-items:center;
    justify-content: center;
}

.welcome-text {
    font-size: 80px;
    /* text-shadow: 0px 0px 4px black; */
}

.welcome-subtext {
    font-size: 80px;
    text-shadow: 0px 0px 4px black;
}

.parallax img {
    opacity: 0.5;
}

.shadow {
    box-shadow: 0px 10px 5px black;
}

.outline {
    border: 5px solid rgba(0, 0, 0, .25);
    padding: 3em;
}

.scrolling-header {
    height: 200px;
    margin-top: 2em;
}

.kenzie-darkblue {
    background-color: rgb(4, 54, 105)
}

.kenzie-lightblue {
    /* color: rgb(140, 204, 176); */
    /* color: black; */
    background-color: #02568B
}

.kenzie-accent {
    color: #D0021B;
}

.kenzie-accent-background {
    color: #D0021B;
}

@media only screen and (max-width: 379px){
    .logo {
        height: 100%;
        margin-left: 50%;
    }}

@media only screen and (min-width: 380px) and (max-width: 600px){
    .logo {
        height: 100%;
        margin-left: 60%;
}}

@media only screen and (min-width: 601px){
.logo {
    height: 100%;
    margin-left: 1%;
    
}}

.kenziephoto {
    margin: 1em;
    width: 32vw;
}

.photowrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.squarephoto {
    object-fit: cover;
    width: 32vw;
    height: 32vw;
}

@media only screen and (max-width: 992px) {
    .kenziephoto {
        margin: 1em;
        width: 64vw;
    }
    
    .squarephoto {
        object-fit: cover;
        width: 64vw;
        height: 64vw;
    }
}