body {
    margin: 0 auto;
    text-align: center;
}

header {
    height: 60px;
    background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    /* background: linear-gradient(to right, fuchsia, #6495ed); */
}

h1 {
    color: #ffffff;
    font-size: 50px; 
    font-family: fantasy;
}

form {
    margin-top: 20px;
}

button {
    background-color: #6495ed;
    padding: 10px;
    border-radius: 20px;
    color: black;
    font-weight: bold;
}

button:hover {
    color: white;
}

#imagecontainer {
    margin-top: 40px;
}

a {
    font-weight: bold;
}

/* img {
    object-fit: cover;
    width: 150px;
    height: 150px;
} */

#message {
    height: 25px;
    color: red;
    font-weight: bolder;
    margin-top: 20px;
}